<html ng-app="testApp">

<head>
<title>Editor-UI Test</title>

<link rel="stylesheet" href="ext/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="bin/editor-ui.css">

<script src="ext/jquery/dist/jquery.min.js"></script>
<script src="ext/angular/angular.min.js"></script>
<script src="ext/angular-placeholders/angular-placeholders.js"></script>
<script src="bin/editor-ui.js"></script>
<script src="bin/editor-ui-templates.js"></script>

<script>

function rangeRandom (min, max) {
    return Math.random() * (max - min) + min;
}
function rangeRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

angular.module('testApp', ['placeholders', 'fireUI'])
.run( [ '$rootScope', function($rootScope) {
    console.log('start testApp');
}])
.controller('init', ['$scope', function ($scope) {
    console.log('init');

    $scope.myChecked = false;
    $scope.myCheckedClick = function () {
        $scope.myChecked = !$scope.myChecked;
    };

    $scope.myPixel = 20;
    $scope.myPixelClick = function () {
        $scope.myPixel = rangeRandomInt(-1000, 1000);
    };

    $scope.mySelect = 3;
    $scope.mySelectList = [
    { name: '64',   value: 0 },
    { name: '128',  value: 1 },
    { name: '256',  value: 2 },
    { name: '512',  value: 3 },
    { name: '1024', value: 4 },
    { name: '2048', value: 5 },
    { name: '4096', value: 6 },
    ];
    $scope.mySelectClick = function () {
        $scope.mySelect = $scope.mySelectList[rangeRandomInt(0,6)].value;
    };
}])
;
</script>

<style>
body {
    position: relative;
    background-color: #333;
    padding: 0px 100px;
    margin-top: 20px;
    color: white;
}
span.space {
    height: 5px;
    display: block;
}
</style>
</head>

<body>
<div ng-controller="init">

    <button ng-click="myCheckedClick()">Change</button> myChecked = {{myChecked}} <br/>
    <button ng-click="myPixelClick()">Change</button> myPixel = {{myPixel}} <br/>
    <button ng-click="mySelectClick()">Change</button> mySelect = {{mySelect}} <br/>

    <hr />
    <span class="space" style="height: 20px"></span>

    <fire-ui-checkbox fi-bind="myChecked"></fire-ui-checkbox>    
    <span class="space"></span>                               

    <fire-ui-unitinput fi-bind="myPixel" fi-type="int" fi-unit="px"></fire-ui-unitinput>
    <span class="space"></span>              

    <fire-ui-select 
        fi-bind="mySelect" 
        fi-options="mySelectList"
    >
    </fire-ui-select>
    <span class="space"></span>              
</div>
</body>

</html>
