<html ng-app="testApp">

<head>
<title>Editor-UI Test</title>

<link rel="stylesheet" href="ext/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="bin/editor-ui.css">

<script src="ext/jquery/dist/jquery.min.js"></script>
<script src="ext/angular/angular.min.js"></script>
<script src="ext/fire-core/core.dev.js"></script>
<script src="bin/editor-ui.js"></script>
<script src="bin/editor-ui-templates.js"></script>

<script>
function rangeRandom (min, max) {
    return Math.random() * (max - min) + min;
}

function rangeRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

angular.module('testApp', ['fireUI'])
.run( [ '$rootScope', function($rootScope) {
    console.log('start testApp');
}])
.controller('init', ['$scope', function ($scope) {
    console.log('init');

    // myChecked
    $scope.myChecked = false;
    $scope.myCheckedClick = function () {
        $scope.myChecked = !$scope.myChecked;
    };

    // myPixel
    $scope.myPixel = 20;
    $scope.myPixelClick = function () {
        $scope.myPixel = rangeRandomInt(-1000, 1000);
    };

    // myText
    $scope.myText = "Hello World";
    $scope.myTextClick = function () {
        var textList = [
            "Hello World",
            "FooBar",
            "I'm Johnny Wu!",
            "Who are you?"
        ];
        $scope.myText = textList[rangeRandomInt(0, textList.length-1)];
    };

    // myMultiText
    $scope.myMultiText = "Hello World\nHello World FooBar\nHello World I'm Johnny Wu\nCool!";
    $scope.myMultiTextClick = function () {
        var textList = [
            "Hello World\nHello World\nHello World",
            "FooBar\nFooBar",
            "I'm Johnny Wu!\nI'm Johnny Wu\nI'm Johnny Wu\nI'm Johnny Wu",
            "Who are you?\nWho are you"
        ];
        $scope.myMultiText = textList[rangeRandomInt(0, textList.length-1)];
    };

    // mySelect
    $scope.mySelect = 3;
    $scope.mySelectList = [
    { name: 'Hello',   value: 0 },
    { name: 'Foo',  value: 1 },
    { name: 'Bar',  value: 2 },
    { name: 'Johnny',  value: 3 },
    { name: 'Test Math', value: 4 },
    { name: 'Foo Bar', value: 5 },
    { name: 'This is the world', value: 6 },
    ];
    $scope.mySelectClick = function () {
        $scope.mySelect = $scope.mySelectList[rangeRandomInt(0,6)].value;
    };

    // myColor
    $scope.myColor = new FIRE.Color( 1.0, 0.0, 0.0, 1.0 );
    $scope.myColorClick = function () {
        $scope.myColor.r = rangeRandom( 0.0, 1.0 );
        $scope.myColor.g = rangeRandom( 0.0, 1.0 );
        $scope.myColor.b = rangeRandom( 0.0, 1.0 );
        $scope.myColor.a = rangeRandom( 0.0, 1.0 );
    };

    // myVec2
    $scope.myVec2 = new FIRE.Vec2( 1.0, 1.0 );
    $scope.myVec2Click = function () {
        $scope.myVec2.x = rangeRandom( 0.0, 1.0 );
        $scope.myVec2.y = rangeRandom( 0.0, 1.0 );
    };
}])
;
</script>

<style>
body {
    position: relative;
    background-color: #333;
    padding: 0px 100px;
    margin-top: 20px;
    color: white;
}
span.space {
    width: 5px;
    height: 5px;
    display: block;
}
</style>
</head>

<body>
<div ng-controller="init">
    <span class="space" style="height: 20px"></span>                                                       

    <fire-ui-section fi-title="My Section">
        <div class="flex-row">
            <fire-ui-checkbox fi-bind="myChecked"></fire-ui-checkbox>                                              
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myCheckedClick()">Change</fire-ui-button> 
            <span class="space"></span>                                                                            
            <fire-ui-label>myChecked = {{myChecked}}</fire-ui-label>
        </div>
        <span class="space"></span>                                                                            

        <div class="flex-row">
            <fire-ui-unit-input fi-bind="myPixel" fi-type="int" fi-unit="px"></fire-ui-unit-input>                   
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myPixelClick()">Change</fire-ui-button>
            <span class="space"></span>                                                                            
            <fire-ui-label>myPixel = {{myPixel}}</fire-ui-label>
        </div>
        <span class="space"></span>                                                                            

        <div class="flex-row">
            <fire-ui-text-input fi-bind="myText"></fire-ui-text-input>                                                      
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myTextClick()">Change</fire-ui-button>
            <span class="space"></span>                                                                            
            <fire-ui-label>myText = {{myText}}</fire-ui-label>
        </div>
        <span class="space"></span>                                                                            

        <div class="flex-row">
            <fire-ui-select fi-bind="mySelect" fi-options="mySelectList"></fire-ui-select>                         
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="mySelectClick()">Change</fire-ui-button>
            <span class="space"></span>                                                                            
            <fire-ui-label>mySelect = {{mySelect}}</fire-ui-label>
        </div>
        <span class="space"></span>                                                                            

        <div class="flex-row">
            <fire-ui-color fi-bind="myColor"></fire-ui-color>                                                      
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myColorClick()">Change</fire-ui-button>
            <span class="space"></span>                                                                            
            <fire-ui-label>myColor = {{myColor.toString()}}</fire-ui-label>
        </div>
        <span class="space"></span>

        <div class="flex-row">
            <fire-ui-vec2 fi-bind="myVec2"></fire-ui-vec2>                                                      
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myVec2Click()">Change</fire-ui-button>
            <span class="space"></span>                                                                            
            <fire-ui-label>myVec2 = {{myVec2.toString()}}</fire-ui-label>
        </div>
        <span class="space"></span>                                                                            

        <div class="flex-row">                                                                                              
            <fire-ui-text-area class="flex-3" fi-bind="myMultiText"></fire-ui-text-area>                                                        
            <span class="space"></span>                                                                            
            <fire-ui-button ng-click="myMultiTextClick()">Change</fire-ui-button>                                       
            <span class="space"></span>                                                                            
            <div class="flex-1 flex-column">
                <fire-ui-label>myMultiText = </fire-ui-label>                                         
                <pre style="font-size: 10px; white-space: pre-line;">
                    {{myMultiText.toString()}}
                </pre>
            </div>
        </div>                                                                                                              
        <span class="space"></span>                                                                            
    </fire-ui-section>

    <span class="space" style="height: 20px"></span>                                                       

    <fire-ui-section fi-title="My Section 2">
        <fire-ui-field fi-bind="myChecked"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="myPixel"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="mySelect" fi-type="enum" fi-enum-type="FIRE.Atlas.SortBy"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="myColor"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="myVec2"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="myText"></fire-ui-field>                                                             
        <fire-ui-field fi-bind="myMultiText" fi-text-mode="multi"></fire-ui-field>                                                             
    </fire-ui-section>
</div>
</body>

</html>
