.fire-ui-checkbox {                         
    width: 13px
    height: 13px
    border: 1px solid #888

    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)
    background: #232323

    cursor: pointer 

    transition: border-color .3s ease

    &:hover {
        border-color: #bbb
    }

    i {                         
        font-size: 11px

        color: #0c90e6
        cursor: inherit
    }
    i.hide {                         
        visibility: hidden 
    }
}
