.fire-ui-button {                         
    button {
        box-shadow: 0 0 0 1px #212121
        font-size: 12px

        min-width: 60px

        cursor: pointer 

        border: 1px solid rgba(255, 255, 255, 0.08)
        padding: 3px 4px

        color: #bdbdbd
        background-color: #474747
        border-top-color: rgba(255, 255, 255, 0.2)

        span {
            cursor: inherit 
        }

        &:active {
            border: 1px solid rgba(255,255,255,0.01)
            background-color: #404040
        }
    }

    &.focused button {                         
        box-shadow: 
            inset 0 0 0 1px rgba(0,0,0,0.1), 
            0px 0 0 1px #0c70a6, 
            0px 0 4px 1px rgba(12,112,166,0.8)
    }
}
