user-select() {
    -webkit-user-select: arguments
    user-select: arguments
}

transition() {
    -webkit-transition: arguments
    transition: arguments
}

display-flexbox() {
    display: -webkit-box
    display: -webkit-flex
    display: flex
}

flex() {
    -webkit-box-flex: arguments
    -webkit-flex: arguments
    flex: arguments
}

flex-direction() {
    -webkit-flex-direction: arguments
    flex-direction: arguments
}

order() {
    -webkit-box-ordinal-group: arguments  
    -webkit-order: arguments  
    order: arguments
}

* {
    font-family: Arial
    box-sizing: border-box

    // pointer-events: none
    cursor: default     
    user-select (none)

    &:focus {
        outline: 0
    }
}

.flex-row {
    display-flexbox ()
    flex-direction: row
    flex-wrap: nowrap     
    align-items: center
}
.flex-col {
    display-flexbox ()
    flex-direction: column
    flex-wrap: nowrap     
    align-items: center
}
.flex-1 {
    flex: 1 1 60px
}
.flex-2 {
    flex: 2 2 60px
}
.flex-3 {
    flex: 3 3 60px
}
